#root .column {
  text-align: center;
}

#root .ui.medium.rounded.image {
  align-content: center;
  display: inline;
}

#header {
  background-image: url("../../assets/images/waves.jpg");
  background-size: 100% 100%;
}

#root .header {
  font-family: "Lekton", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
